
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-form-container, .login-form, .register-form{
	display: flex;
	flex-direction: column;
}

label{
	text-align: left;
	padding: 0.25rem 0;
	font-weight: 600;
	font-family: 'Poppins';
	font-size: 15px;
	margin-top: 15px;
}

input{
	padding: 1rem;
	width: 310px;
	border-radius: 10px;
	color: black;
}

.button{
	border: none;
	background-color:  #70BD99;
	padding: 10px;
	border-radius: 10px;
	margin-top: 80px;
	color: white;
	font-weight: 600;
	font-family: 'Poppins';
	font-size: 15px;
	width: 310px;
	margin-bottom: 20px;
}

.secondaryButton{
	border: 2px solid #C9C8C8;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	margin-top: 15px;
	color: #C9C8C8;
	width: 350px;
}

.link-button{
	background-color: white;
	color:  #70BD99;
}
